Repository Ballsdex-Team/BallsDex-DiscordBot, pull requests merged in 2024-10, with the labels that each got.

#429 [privacy] fix if interacting player doesnt exist
  ballsdex/core/utils/utils.py
  ballsdex/packages/balls/cog.py
Labels: core:utils, package:balls

#439 [trade] bug fix, plural check and more precise wording in /view and /begin
  ballsdex/packages/trade/cog.py
  ballsdex/packages/trade/menu.py
Labels: package:trade

#450 [player] bug fix, not allowing users to be blocked during active friend req
  ballsdex/packages/players/cog.py
Labels: package:players, priority:normal

#454 [admin] small bug fix with /info user
  ballsdex/packages/admin/cog.py
Labels: package:admin
