Repository Ballsdex-Team/BallsDex-DiscordBot, pull requests merged in 2024-09, with the labels that each got.

#327 [admin] Add admin blacklist history
  ballsdex/core/models.py
  ballsdex/packages/admin/cog.py
  ballsdex/packages/admin/menu.py
  migrations/models/30_20240812140936_update.sql
Labels: core:commands, package:admin, new feature

#375 [balls] changing syntax for stats through balls list
  ballsdex/packages/balls/countryballs_paginator.py
Labels: enhancement, core:utils, package:balls, priority:low

#325 [policies] add mention policy
  ballsdex/core/models.py
  ballsdex/packages/balls/cog.py
  ballsdex/packages/countryballs/components.py
  ballsdex/packages/players/cog.py
  ballsdex/packages/trade/menu.py
  migrations/models/33_20240902113932_update.sql
Labels: package:players, package:new, core:commands

#340 [player] friends and blocking users
  ballsdex/core/models.py
  ballsdex/core/utils/buttons.py
  ballsdex/core/utils/enums.py
  ballsdex/packages/balls/cog.py
  ballsdex/packages/players/cog.py
  ballsdex/packages/trade/cog.py
  migrations/models/34_20240909212154_update.sql
Labels: package:players, package:new, core:commands, package:admin

#406 [player] adding /player friend policy + bug fix for /friend add
  ballsdex/core/models.py
  ballsdex/packages/players/cog.py
  migrations/models/35_20240913181322_update.sql
Labels: package:players, core:models

#427 [admin] adding friend+mention policy to /user info
  ballsdex/packages/admin/cog.py
Labels: package:admin

#426 [player] Change `/player stats` to `/player info`
  ballsdex/packages/players/cog.py
Labels: package:players

#430 [countryballs] defer catching earlier
  ballsdex/packages/countryballs/components.py
Labels: package:countryballs

#421 [player] checking if there is an active friend request before sending another one
  ballsdex/packages/players/cog.py
Labels: package:players

#416 [balls] grammar fix
  ballsdex/packages/balls/cog.py
Labels: package:balls

#419 [trade] adding a check for locked for trade + favorited balls for bulk add
  ballsdex/packages/trade/menu.py
Labels: package:trade
